@media screen and (max-width: 478px) {
    #mini{
        margin-left: 32% !important;
    }
    #input{
        margin-left: 0px;
        width: 100%;
    }
    .shadow{
        margin-left: 0px !important;
        width: 400px !important;
        margin-top: 0px;
    }
    #firstDiv{
        margin-left: 2%;
        width: 400px;
    }
    #shadow2{
       margin-top: 100px !important; 
    }
}

 
 #shadow2{
    display: none;
} 
#shoq{
    border: 2px solid blue;
    margin-top: 2px;
 }
 table{
    margin-left: 20px;
    justify-content: space-around;
 }